[Unit]
Description=Auto commit /usr/local/bin changes to GitHub
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/git-auto-commit-bin.sh
Restart=always
RestartSec=10
User=patrick

[Install]
WantedBy=multi-user.target
